In [13]:
import numpy as np
import pandas as pd
import os
from pathlib import Path

In [14]:
for dir_name,_, file_names in os.walk('F:\pycham\PycharmProjects\pythonProject\RNN\Archive'):
    for file_name in file_names:
        paths = os.path.join(dir_name, file_name)

In [15]:
path = r'F:\pycham\PycharmProjects\pythonProject\RNN\Archive'
files = Path(path).glob('*.csv')
df = pd.concat((pd.read_csv(f) for f in files), ignore_index=True)

In [16]:
df.head()

   Unnamed: 0      TxnDate   TxnTime  Consumption
0       76229  01 Jan 2022  16:55:52        1.010
1       76258  01 Jan 2022  21:45:29        0.908
2       76287  01 Jan 2022  12:24:52        0.926
3       76316  01 Jan 2022  04:07:36        0.928
4       76345  01 Jan 2022  06:52:25        0.916

In [17]:
df = df.drop(['Unnamed: 0'], axis=1)

In [18]:
df.head()

       TxnDate   TxnTime  Consumption
0  01 Jan 2022  16:55:52        1.010
1  01 Jan 2022  21:45:29        0.908
2  01 Jan 2022  12:24:52        0.926
3  01 Jan 2022  04:07:36        0.928
4  01 Jan 2022  06:52:25        0.916